<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCddvVuoAgzRknDso1cUsegGc_WqczKI0</string>
	<key>GCM_SENDER_ID</key>
	<string>42580487020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratgules.instgaramCloneFurkanSabaz</string>
	<key>PROJECT_ID</key>
	<string>newinstagramclonefurkansabaz</string>
	<key>STORAGE_BUCKET</key>
	<string>newinstagramclonefurkansabaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42580487020:ios:dffde0c4fb9438ffa2e149</string>
</dict>
</plist>